<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} title</title>
</head>
<body>
<div align="center">
    {% if white or black %}

    <P>{{ image }}</P>

    <p>Количество белых пикселей : {{white}}</p>
    <p>Количество черных пикселей : {{black}}</p>

    {% if black > white %}
    <p>Черных больше</p>
    {% elif black > white %}
    <p>Черных и белых одинаковое количество</p>
    {% else %}
    <p>Белых больше</p>
    {% endif %}

    {% endif %}
    <form action="{% url 'index' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}

        {{ form.as_p }}
        <button type="submit">Анализ</button>
    </form>
</div>

</body>
</html>